# /etc/systemd/system/zvdl2json.service

[Unit]
Description=Runs zvdl2json as a service
Documentation=https://github.com/varnav/zvdl2json/
After=network-online.target
Wants=network-online.target

[Service]
Type=exec
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/python3 /opt/zvdl2json/zvdl2json.py
#StandardInput=tty-force
Restart=on-failure
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target